{% load static %}
<footer>
  <div>
    <div class="contacts">CONTACTS</div>
    <div class="info">
      <svg class="social_icon">
        <use xlink:href="#email"></use>
      </svg>
      <span>tezkiin@gmail.com</span>
    </div>
    <div class="info">
      <svg class="social_icon">
        <use xlink:href="#call"></use>
      </svg>
      <span>+7 777 777 77 77</span>
    </div>
    <div class="info">
      <svg class="social_icon">
        <use xlink:href="#map"></use>
      </svg>
      <span>Almaty, Al-Farabi st., 280</span>
    </div>
    <div class="info" style="margin-bottom: 50px">
      <svg class="social_icon1">
        <use xlink:href="#instagram"></use>
      </svg>
      <svg class="social_icon1">
        <use xlink:href="#twitter"></use>
      </svg>
      <svg class="social_icon1">
        <use xlink:href="#facebook"></use>
      </svg>
    </div>
  </div>
  <div class="privac">
    <span>TERMS OF USE</span>
    <span>PERSONAL DATA PROCESSING POLICY</span>
    <span>PRIVACY POLICY</span>
  </div>
</footer>